<h1>New search</h1>

<%= render 'form' %>

<div class="most-recent pull-right">
  <small>Last 5 searches</small>

  <ul>
    <% @most_recent.each do |search| %>
      <li><%= link_to search.name, search %></li>
    <% end %>
  </ul>
</div>
